  
  <% if request.format == "text/javascript" %>
  <% @max ||= max 
      @readings ||= readings
      @avg ||= avg
  %>
  <% end %>


  <div class="col-lg-2 col-lg-offset-1">
    <div class="panel panel-primary media-body">
        <div class="panel-body blue">
          <i class="fa fa-heartbeat fa-3x"></i>
          <h3><%= @max %> </h3>
        </div>
        <div class="panel-footer">
          <span class="panel-eyecandy-title">Highest Glycemic Index
          </span>
        </div>
    </div>

    <div class="panel panel-primary media-body">
      <div class="panel-body green">
        <i class="fa fa-medkit fa-3x"></i>
        <h3><%= @avg %> </h3>
      </div>
      <div class="panel-footer">
        <span class="panel-eyecandy-title">Average Glycemic Index
        </span>
      </div>
    </div>
 </div>

  <div class="col-lg-5 col-lg-offset-2">
    <table id="results-table" class="table table-bordered table-hover">
      <thead>
        <th>Patient Name</th>
        <th>Recorded Date</th>
        <th>Glycemic Index</th>
        <th>Description</th>
      </thead>
      <tbody>
        <% if !@readings.nil? %>
          <% for data in @readings %>
            <tr>
              <td><%= data.patient.name %></td>
              <td><%= data.recorded_date %></td>
              <td><%= data.amount %></td>
              <td><%= data.description %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @readings %>
  </div>