<% @dt ||= @dt %>
<div id="page-wrapper">
<div class="row">
	<h1 class="page-header">Enter Reading</h1>
 	<% if flash[:error] %>
		<div class="alert alert-danger"> 
      <%= flash[:error] %>
    </div>
  <% end %>
	<% if flash[:success] %>
    <div class="alert alert-success">  
      <%= flash[:success] %>
    </div>
  <% end %>

		<%= form_tag('/readings', method: :post, id: 'new_form') do %>
		<% fields_for :reading do |f| %>
		<div class="row">
			<div class="col-lg-2 form-group">
				<span><b>Date:</b></span>
				<div id="datepicker" class=" input-prepend date">
					
		  		<span class="add-on"><i class="fa fa-calendar"></i></span>
		  		<input class="span2" name="reading[date]" type="text" value=<%= Date.today.strftime('%d-%m-%Y')%>>
				</div>
			</div>
			
			<div class="col-lg-2">
				<span><b>Time</b> </span>
				<div class="input-prepend bootstrap-timepicker timepicker">
	    		
	    		<span class="add-on"><i class="fa fa-clock-o"></i></span>
	    		<input id="timepicker1" name="reading[time]" type="text" class="span2">
				</div>
			</div>
		</div>
		<div class="col-lg-4">
		<div class="form-group">
			<%=f.label :description %>
			<%=f.text_area :description, class: "form-control" %>
		</div>
		<div class="form-group">
			<%=f.label :amount, 'Glycemic value' %>
			<%=f.text_field :amount, class: "form-control" %>
		</div>

		<%=f.submit "Save", class: "btn btn-lg btn-success"%>
		</div>
		<% end %>
		<% end %>
	</div>
</div>