<style>
.nav-tabs{
  background-color:#41b1c9;
}

.nav-tabs > li > a {
	color: #ffffff;
}
.nav-tabs > li > a.active,
nav-tabs > li > a:hover,
.nav-tabs > li.active > a:focus {
          color: #555555;
          cursor: default;
          background-color: #ffffff;
          border: 4px solid #1ea76d;
          border-bottom-color: transparent;
          } 
</style>

<div id="page-wrapper">
	<div class="row">
		<h1 class="page-header">Reports</h1>
		<!-- <div class="container"> -->
		<div class="row">
			<div class="col-lg-5">
				<ul class="nav nav-tabs">
					<li><%=link_to "Daily Report", daily_readings_path, class: "active", id: "d-tab" %></li>
					<li><%=link_to "Month to Date Report", month_date_readings_path, id: "md-tab" %></li>
					<li><%=link_to "Monthly Report", monthly_readings_path(), id: "m-tab" %></li>
				</ul>
			</div>	
			<div class="col-lg-3">
				Pick Date: <div id="datepicker2" class=" input-prepend date">
		  		<span class="add-on"><i class="fa fa-calendar"></i></span>
		  		<input class="span2" type="text" id="date-daily" value=<%= Date.today.strftime('%d-%m-%Y') %>>
				</div>
 			</div>
 		</div>
 		<div class="row tab-content" id="report_tab">
 		 <%= render "report" %>
 	</div>
</div>

<script>
$(function(){
 $("#md-tab, #d-tab, #m-tab").click(function(evt){
	evt.preventDefault();
	var url = $('.nav-tabs .active').attr('href');
    var dateText = $('#date-daily').val();
	$.ajax({
    	type:'GET',
    	dataType: "script",
    	url: url,
    	data: {date: dateText}
  	});
  });      
});
</script>