<!DOCTYPE html>
<html>
<head>
  <title>Sweety App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css">
  <%= csrf_meta_tags %>

</head>
<body>
  <% if account_signed_in? %>
  <div id="wrapper">
  <div id="navbar" class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsibleMenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" style="color:white;font-weight:bold;font-size:20px;margin-top:30px">Sweety App</a>
    </div>
    <div class="collapse navbar-collapse" id="collapsibleMenu">
      <ul class="navbar-top-links navbar-nav nav navbar-right">
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-user fa-3x"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
          <li><%= link_to "Logout", destroy_account_session_path, method: :delete, class: "navbar-link" %></li>
        </ul>
         </li>
      </ul>
    </div>
  </div>

    <!-- Sidebar -->

    <nav class="navbar-default navbar-static-side" role="navigation">
      <div class="sidebar-collapse">
        <ul id="side-menu" class="nav">
        <li>
          <div class="user-section">
            <div class="user-section-inner">
                <img src="/assets/user.jpg" alt="">
            </div>
            <div class="user-info">
                <div><%= current_account.email%></div>
                <div class="user-text-online">
                    <span class="user-circle-online btn btn-success btn-circle "></span>&nbsp;Online
                </div>
            </div>
        
          </div>
        </li>

        <li class="selected">
          <a href=<%= root_url %>><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
          <a href=<%= daily_readings_url %>><i class="fa fa-rss-square fa-fw"></i>Reports</a>
        </li>
      </ul>
      </div>
    </nav>
    
    <%= yield %>
 </div>
 <% else %>
   <%= yield %>
  <% end %>
</body>
</html>
